/* start global rules */
:root{
  --min-color: #10cab7 ;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
}
*
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body
{
  font-family: "work sans", sans-serif;
}
.container
{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
/* mobile */
@media (min-width: 375px) {
  .container{
    width: 330px;
  }
}
@media (min-width: 500px) {
  .container{
    width: 460px;
  }
}
@media (min-width: 620px) {
  .container{
    width: 580px;
  }
}
/* small */
@media(min-width:768px)
{
  .container {
    width: 750px;
  }
}
/* medium */
@media(min-width:992px)
{
  .container {
    width: 970px;
  }
}
/* large */
@media(min-width:1200px)
{
  .container {
    width: 1170px;
  }
}
.special-heading
{
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800px;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p
{
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}

@media (max-width: 767px){
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p{
    margin-top: -20px;
  } 
}


.header
{
  padding: 10px;
}
.header .container
{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.header .links
{
  position: relative;
}
.header .links:hover .icon span:nth-child(2)
{
  width: 100%;
}
.header .links .icon
{
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
.header .links .icon span
{
  background-color: #333;
  margin-bottom: 5px;
  height: 3px;
}
.header .links .icon span:first-child
{
  width: 100%;
}
.header .links .icon span:nth-child(2)
{
  width: 60%;
  transition: 0.3s;
}
.header .links .icon span:last-child
{
  width: 100%;
}
/* .search
{
  width: 400px;
}
.srch                                           
{
  font-family: unset ;        
  width: 300px;
  height: 40px;
  background: transparent;
  border: 2px solid #10cab7;
  color: black;
  margin-top: 0px;
  font-size: 16px;
  font-weight: bold;
  float: left;
  padding: 10px;
  border-radius: 5px;
}
.btn
{
  width: 100px;
  height: 40px;
  background: #e0e0e0;
  border: 2px solid #10cab7;
  color: black;
  font-size: 15px;
  border-radius: 5px;
}
.btn:focus
{
  outline: none;
}
.srch:focus
{
  outline: none;

} */

.header .links ul
{
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--section-background);
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}
.header .links ul::before
{
  top: -30px;
  right: 0px;
  content: "";
  position: absolute;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
}
.header .links:hover ul 
{
  display: block;
}
.header .links ul li a
{
  display: block;
  padding: 15px;
  text-decoration: none;
  transition: 0.3s;
  color: #333;
}
.header .links ul li a:hover
{
  padding-left: 20px;
}
.header .links ul li:not(:last-child) a
{
  border-bottom: 1px solid #ddd;
}
.landing
{
  background-image: url(/img/landing.jpg);
  padding: 0;
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
  margin-top : -10px;
}
.landing .intro-text
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 320px;
  max-width: 100%;
}
.landing .intro-text h1
{
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: var(--min-color);
}
.landing .intro-text p
{
  font-size: 19px;
  line-height: 1.8;
}
.features
{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.features .container
{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.features .feat
{
  padding: 20px;
  text-align: center;
}
.features .feat i
{
  color: var(--min-color);
}
.features .feat h3
{
  font-weight: 800px;
  margin: 30px 0;
}
.features .feat p
{
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}
.services .services-content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 30px;
  margin-top: 100px;
}
.services .services-content .srv{
  display: flex;
  margin-bottom: 40px;
}
@media (max-width:767px){
  .services .services-content .srv{
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .srv i{
  color: var(--min-color);
  flex-basis: 60px;
}
.services .services-content .srv .text{
  flex: 1;
}
.services .services-content .srv .text h3{
  margin: 0 0 20px;
}
.services .services-content .srv .text p{
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}
.services .services-content .image{
  text-align: center;
  position: relative;
}
.services .services-content .image::before{
  content: " ";
  position: absolute;
  width: 100px;
  height: calc(100% + 100px);
  background-color: var(--secondary-color);
  top: -50px;
  right: -20px;
  z-index: -1;
}
@media (min-width: 1000px){
  .services .services-content .image::before{
    top: -50px; 
  }
}
.services .services-content .image img {
  width: 260px;}
@media (max-width: 1000px ){
  .image-colom{
    display: none;
  }
}
.portfolio{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
  margin-top: 60px;
}
.portfolio .portfolio-content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 30px;
  margin-top: 30px;
}
.portfolio .portfolio-content .cart{
  background-color: white;
}
.portfolio .portfolio-content .cart img{
  max-width: 100%;
}
/* @media (max-width: 991px){
  .portfolio .portfolio-content .cart img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
} */
.portfolio .portfolio-content .cart .info{
  padding: 20px;
}
.portfolio .portfolio-content .cart .info h3{
  margin: 0;
}
.portfolio .portfolio-content .cart .info p{
  color: #777;
  line-height: 1.6;
  margin-bottom: 0;
}
@media (max-width: 750px){
  .portfolio .portfolio-content .cart .info{
    text-align: center;
  }
}
.about{
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 60px);
}
.about .about-content{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px){
  .about .about-content{
    flex-direction: column;
    text-align: center;
  }
}
.about .about-content .image{
  position: relative;
  width: 250px;
  height: 375px;
}
.about .about-content .image::before{
  content: " ";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 40px);
  z-index: -1;
  top: -20px;
  left: -20px;
}
.about .about-content .image::after{
  width: 120px;
  content: " ";
  position: absolute;
  height: 280px;
  border-left: 80px solid var(--min-color);
  border-bottom: 80px solid var(--min-color);
  z-index: -1;
  left: 200px;
  top: -20px;
}
@media (max-width: 991px){
  .about .about-content .image::before,
  .about .about-content .image::after{
    display: none;
  }
}
.about .about-content .image img{
  width: 100%;
}
@media (max-width: 991px){
  .about .about-content .image {
    margin: 0 auto 60px;
  }
}
.about .about-content .text{
  flex-basis: calc(100% - 430px);
}
.about .about-content .text p:first-of-type{
  font-weight: bold;
  line-height: 2;
  margin-bottom: 60px;
}
.about .about-content .text hr{
  width: 50%;
  display: inline-block;
  background-color: var(--min-color);
}
.about .about-content .text p:last-of-type{
  line-height: 2;
  color: #777;
}
.contact{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.contact .info{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.contact .info .label{
  font-size: 40px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .link{
  display: block;
  font-size: 40px;
  font-weight: 800;
  color: var(--min-color);
  text-decoration: none;
}
.contact .info .social{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 16px;
}
.contact .info .social i{
  margin-left: 10px;
}
@media (max-width: 767px){
  .contact .info .label,
  .contact .info .social i,
  .contact .info .link{
    font-size: 20px;
  }
}
.footer{
  background-color: var(--secondary-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;

}
.footer span{
  font-weight: bold;
  color: var(--min-color);

}
